/* Realizar as configurações do css*/
.Menu {
    background-image: url("../../assets/img/page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
  }
  
  .Menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .Menu li {
   list-style: none; 
  }
  
  .Menu a {
    display: block;
    padding: 10px 20px;
    transition: backgroud-color 1s, color 1s;
  }
  
  .Menu a:active .Menu a:hover {
    background-color: teal;
    color: white;
  }

  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
