section .Banner1 {
    background-image: url("../assets/img/RioJ.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section .Banner2 {
    background-image: url("../assets/img/Disney.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section .Banner3 {
    background-image: url("../assets/img/Tokyo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section .Banner4 {
    background-image: url("../assets/img/Paris.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}